[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group shamrock
	forgeAuthor = group shamrock
	forgeCommitter = group shamrock
	push = group shamrock
	label-Code-Review = -2..+2 group shamrock
	label-Verified = -1..+1 group shamrock
	submit = group shamrock
